<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    {{ $style := resources.Get "scss/main.scss" | css.Sass | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="header-content">
                <h1><a href="/">{{ .Site.Title }}</a></h1>
                {{ partial "nav.html" . }}
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            {{ block "main" . }}{{ end }}
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; {{ now.Format "2006" }} Public Environmental Data Partners</p>
        </div>
    </footer>
</body>
</html>
